<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean class="org.springframework.mail.javamail.JavaMailSenderImpl">
        <!-- smtp服务的地址 -->
        <property name="host" value="smtp.sina.com"/>
        <property name="protocol" value="smtp"/>
        <property name="defaultEncoding" value="utf-8"/>
        <property name="username" value="liangsha9472@sina.com"/>
        <property name="password" value="ls940720"/>
        <property name="javaMailProperties">
            <props>
                <prop key="mail.smtp.auth">true</prop>
        </props>
        </property>

    </bean>

</beans>